
	</div>

	<div class="container">
		<ul class="breadcrumb">
			<li class="breadcrumb__link"><i class="fa fa-heart-o"></i></li>
			<li class="breadcrumb__link">Home</li>
			<li class="breadcrumb__link">Book a Consultation</li>
		</ul>

		<img class="quality-logo" src="images/care-quality-commission.png" alt="Care Quality Commission">
	</div>

	<footer class="footer container">
		<span class="footer__copyright">Babylon Health &copy; 2016 All Rights Reserved.</span>

		<ul class="footer__site-links">
			<li><a href="#">Terms of Use</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Site Map</a></li>
		</ul>

		<ul class="footer__app-links">
			<li>
				<a href="#">
					<img src="images/app-store.png" alt="Download on the App Store">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="images/google-play.png" alt="Get it on Google Play">
				</a>
			</li>
		</ul>
	</footer>
</body>
</html>
