{% include 'header.html' %}

<h2>Welcome, how can we help you?</h2>

<section class="content__section">
	<article class="content__article">
		<header>
			<div class="content__title-logo">
				<i class="fa fa-stethoscope"></i>
			</div>
			<h3 class="content__title">Book a Consultation</h3>
		</header>

		<p class="content__paragraph">
			Seeing a doctor is easy. You can book a consultation in
			seconds and speak to a leading GP in minutes. Most of the
			time, patients' problems are resolved there and then, with
			prescriptions arranged where neccessary.
		</p>
		<p class="content__paragraph">
			Our UK and Ireland GPs are available wherever you are, as a
			time that suits you.
		</p>

		<p class="content__paragraph content__paragraph--highlighted">
			Unlimited consultations for just £4.99 or €7.99 per month.
		</p>
	</article>

	<div class="content__banner"></div>

	<button class="content__button">See a Doctor Now</button>
</section>

{% include 'footer.html' %}
