<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Babylon Health</title>
</head>
<body>
	<header>
		<nav class="navigation">
			<img src="assets/images/logo.png" alt="Babylon Health Logo" class="navigation__logo">
			<ul class="navigation__menu">
			</ul>
			<h1>hello world</h1>
		</nav>
	</header>
</body>
</html>
