.book {
	text-align: center;

	input[type="radio"] {
		display: none;

		& + label {
			display: inline-block;
			position: relative;
			padding-right: 4em;
			width: 7.5em;

			&:after {
				content: 'or';
				color: @color-grey;
				font-size: 1.6em;
				font-weight: 300;
				position: absolute;
				right: 1rem;
				top: 1rem;
				width: 2rem;
				line-height: 2rem;
			}

			div {
				width: 4em;
				height: 4em;
				border-radius: 50%;
				border: 1px solid @color-lightgrey;
				margin: 0 auto;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			h4 {
				font-weight: 400;
			}
		}

		&:checked + label {
			&:after {
				margin-top: 2px;
			}

			div {
				border: 2px solid @color-cyan;
				position: relative;
				top: 1px;
			}
		}
	}

	&__title {
		text-transform: uppercase;
		color: @color-grey;
		font-weight: 400;
		font-size: 1em;
		margin: 1.5em 0;
	}

	&__link {
		display: inline-block;
		width: 7.5em;

		span {
			a {
				display: inline-block;
				font-size: 3.2em;
				font-weight: 300;
				width: 1.25em;
				height: 1.25em;
				line-height: 1.25em;
				border-radius: 50%;
				border: 1px solid @color-lightgrey;
				color: darken(@color-lightgrey, 5%);
				background: darken(@color-white, 5%);
				text-decoration: none;
				margin: 0 1px;
			}
		}

		h4 {
			font-weight: 400;
		}
	}

	&__row {
		padding: 1em 2em;
	}
}
