@color-white: rgb(239, 235, 243);

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.content {
	margin: 0 1em;

	@media screen and (min-width: 62em) {
		margin: 0 auto;
		width: 60em;
	}
}
